<div class="container">
  <div class="row"><br><center>
<a type="button" href="/" class="btn btn-primary" data-toggle="balance" data-placement="left" title="View Balance">Dashboard</a>
<a type="button" href="addmoney" class="btn btn-primary" data-toggle="add money" data-placement="left" title="Add Money To Wallet">Add Money To Wallet</a>
<a type="button" href= "transfer" class="btn btn-primary" data-toggle="transfer" data-placement="left" title="Transfer">Transfer</a>
<a type="button" href= "passbook" class="btn btn-primary" data-toggle="transfer" data-placement="left" title="Passbook">View Passbook</a>
</center>
</div>
</div>
